<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input 
        type="email" 
        matInput 
        placeholder="Your email" 
        ngModel 
        name="email"
        email
        required
        #emailInput="ngModel"
        autocomplete="false">
      <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="emailInput.hasError('email')">Email is invalid</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
        type="password" 
        matInput 
        placeholder="Your password" 
        ngModel 
        name="password"
        requiredminlength="6"
        #pwInput="ngModel">
      <mat-hint>
        Password should be at least 6 characters long
      </mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input 
        matInput 
        [matDatepicker]="datePicker" 
        placeholder="Date of Birth"
        [max]="maxDate"
        name="birthDate"
        ngModel
        required>
      <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox 
      labelPosition="after"
      ngModel
      name="agree"
      required
      color="primary">
      Click to agree to the Terms and Conditions
    </mat-checkbox>

    <button typ="submit" mat-raised-button color="primary">Submit</button>
  </form>
</section>
